@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);

::-webkit-input-placeholder {
color:rgb(128,128,128);
}
::-moz-placeholder {

}
:-moz-placeholder {

}

body {
background:url(../img/bg.png) no-repeat 0 0 fixed; background-size:cover; font:400 16px 'Source Sans Pro';
}
a.block {
position:absolute; left:0; top:0; width:100%; height:100%; display:block; z-index:999; background:rgba(255,255,255,0.1); opacity:0.1;
}
p.intro-top {
margin-bottom:20px;
}
.intro-top-fancy {
	font-weight:700;
	font-family:'Source Sans Pro';
	font-size:0.95em;
}
	p.intro-top input,p.intro input,p.intro textarea {
		min-width:400px; background:transparent; border:0; color:rgb(0,0,0);
		padding:10px;
		margin:5px;

		font-size:1.5em;
		font-weight:200;
		font-family:'Source Sans Pro';

		border-color:rgb(142,142,142);
		border-width:1px 0 0 0;
		border-style:solid;
	}

	.checkbox-option {
		font-size:1.5em;
		font-weight:200;
		font-family:'Source Sans Pro';
	}

	p.intro-top input,p.intro input,p.intro textarea,p.intro select {
		border:1px solid rgb(192,192,192);
	}

	p.intro-top input:focus,p.intro input:focus,p.intro-top select:focus,p.intro select:focus,p.intro textarea:focus {
		outline:0;
	}

	p.intro-top select,p.intro select {
		background:transparent;
		min-width:400px; border:0;
		padding-top:10px;
		display:block;
		font-size:1.5em;
		font-weight:200;
		font-family:'Source Sans Pro';

		margin-bottom:23px;

		color:#000;
	}

	p.intro span {
		font-size:1.2em;
		font-weight:200;
	}

	.radio-input {
		margin:10px 0;
		float:left;
	}

	.radio-input span {
		padding:0 0 0 10px;
	}

.img-responsive {
	width:100%;
	height:100%;
}

#other-input-box {
position:absolute; left:-5px; top:-16px;
display:none;
}

ul#sponsors {
	list-style-type:none;
	margin:10px 0 0 0;
	padding:0;
	clear:left;
}
	ul#sponsors li {
		background:transparent;
		display:inline-block;
		float:left;
		max-width:50%;
		min-height:10px;
		text-align:center;
		width:50%;
	}
		ul#sponsors li img {
			margin:0 auto 0 auto;
			max-width:250px;
			width:100%;
		}

.overlay-options-wrapper {
	width:50%;
}

.form-spacer {
	width:400px;
	display:block; 
	border-color:rgb(142,142,142);
	border-width:1px 0 0 0;
	border-style:solid;

	margin:15px 0 10px 0;
}
.spacer {
width:400px; height:40px;
}

.navbar {
background:rgba(255,255,255,0.93);
}
.navbar-custom {
color:red;
}

.container {
margin: 0 auto;max-width: 960px;
}
	.container#main-container {
	background:rgba(255,255,255,0.67);
	}

.button {
cursor:pointer; color:white; font-size:1.25em;
}
	.button-active {
	background:#428bca; border-color:#357ebd;
	}
		.button-active:hover {
		background:#357ebd;
		}
		.button-active:active {
		box-shadow:inset 0 2px 1px rgba(0,0,0,0.1);
		}
	.button-active2 {
	background:#5cb85c; border-color:#4cae4c;
	}
		.button-active2:hover {
		background:rgba(68,156,68,0.9);
		}

	.button-active3 {
	background:rgb(154,154,154); border-color:rgb(116,116,116);
	}
		.button-active3:hover {
		background:rgb(116,116,116);
		}

	.button-active4 {
	background:rgb(232,105,40); border-color:rgb(177,72,19);
	}
		.button-active4:hover {
		background:rgb(177,72,19);
		}

.jumbotron:first-child {
background:url(../img/stem_logo.png) no-repeat center center; background-size:74%; min-height:311px; position:relative; z-index:99;
}
	.pic {
	position:absolute; height:200px; width:190px;
	}

	.pic-left {
	left:-90px; background:url(../img/thumbs/6.jpg) no-repeat 0 0; background-size:100%;
	transform:rotate(-6deg); border:5px solid rgba(228,230,229,0.9);
	-ms-transform:rotate(-6deg); /* IE 9 */
	-webkit-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	}
	.pic-right {
	right:-90px; background:url(../img/thumbs/3.jpg) no-repeat 0 0; background-size:100%;
	transform:rotate(6deg); border:5px solid rgba(228,230,229,0.9); height:130px;
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg);
	-moz-transform:rotate(6deg);
	}
.carousel {
max-height:600px; overflow-y:hidden;
}
	.carousel #photoroll {
	position:relative; height:600px; overflow-y:hidden; background:green;
	}
		.carousel-caption#static-caption {
		position:absolute; width:100%; height:200px; bottom:70px; left:0; z-index:1;
		}
.carousel-control {
cursor:pointer; z-index:2;
}
.register-button {
text-align:center; position:relative;
}
.list-group {

}
	.list-group-item {
	background:rgba(255,255,255,0.65);
	}

.semi-transparent,.semi-transparent#main-container {
background-color:rgba(255,255,255,0.8);
}
.button-active-checkbox {
background:transparent; color:black;
}
	.button-active-checkbox:hover {
		color:white;
		background:#428bca;
	}

	.button-active-checkbox:active {
		color:white;
		background:#357ebd;
	}

.checkbox2 {
width:50%; margin:0 auto;
}